  *{
    box-sizing:border-box;
    padding: 0;
    margin:0;
  
    }
    h1{
      font-size:35px;
      margin-top: 40px;
      margin-bottom:40px;
      text-align:center;
      font: Impact;
    }
    div>div{
      border: 1px solid black;
      height:auto;
      background:#cbf785;
      margin:9px;
      margin-bottom:16px;
      padding: 10px;
    }
    .row{
      margin-right: 10px;
    }
    h2{
      width:190px;
      height:40px;
      text-align:center;
      font-size:25px;
      border-left:2px solid black ;
      border-bottom:2px solid black ;
      float:right;
      top:0;
      right:0;
      padding:5px ;
      position: absolute;
    }
    #p1{
      position: relative;
    }
    #p2{
      position: relative;
    }
    #p3{
      position: relative;

    }
    p{
      margin-top: 50px;
      font-size: 20px;
      
    } 
    #HTML5{
      background-color: tomato;
    }
    #CSS3{
      background-color: yellow;
    }
    #JAVASCRIPT{
      background-color: turquoise;

    }

  @media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
      border: 1px solid rgb(8, 8, 8);
    }
    .col-lg-4 {
      width: 31.5%;
    }
  }
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;
      border: 1px solid rgb(13, 14, 13);
    }
    .col-md-6 {
      width: 47.5%;
    }
  }
  @media (max-width: 767px) {
    .col-sd-1, .col-sd-2, .col-sd-3, .col-sd-4, .col-sd-5, .col-sd-6, .col-sd-7, .col-sd-8, .col-sd-9, .col-sd-10, .col-sd-11, .col-sd-12 {
      float: left;
      border: 1px solid rgb(18, 19, 18);
    }
    .col-sd-12 {
      width: 98.5%;
    }
  }
  
